  <script>
    $(document).ready(function(){
       $('.parallax').parallax();
       $(".button-collapse").sideNav();
       $('.tooltipped').tooltip({delay: 50});
       $('.slider').slider();
       $('.scrollspy').scrollSpy({
           scrollOffset:30
       });
       $('.modal').modal();
       $('.button-collapse').sideNav({
          menuWidth: 200, // Default is 300
          edge: 'right', // Choose the horizontal origin
          closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
        });

       // Scrollbar Code
       var scroll_start = 0;
       var startchange = $('#startchange');
       var offset = startchange.offset();
      if (startchange.length){
       $(document).scroll(function() { 
          scroll_start = $(this).scrollTop();
          if(scroll_start > offset.top) {
              $("#my_navbar").removeClass('light transparent z-depth-0');
              $("#my_navbar").addClass('customcolor z-depth-5' );
              $("#my_navbar a").addClass('light teal-text text-accent-4');
              
           } else {
              $("#my_navbar").removeClass('customcoler z-depth-5');
              $("#my_navbar").addClass('light transparent z-depth-0');
              $("#my_navbar a").removeClass('light teal-text text-accent-4');
           }
        });
      } 

    });
</script>

    <ul class="side-nav" id="mobile-demo">
        <li><a href="/#!">Home</a></li>
        <li><a href="#about_me">About Me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#connect">Connect</a></li>
      </ul>

<header id="home">
  <div id="index-banner" class="parallax-container">
    <div class="navbar-fixed">
      <nav class="transparent z-depth-0" id="my_navbar">
          <div class="nav-wrapper container">
            <a id="logo-container" href="/#!" class="brand-logo light">Luis Salazar</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/#!">Home</a></li>
              <li><a href="#about_me">About Me</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#connect">Connect</a></li>
            </ul>
          </div>
        </nav>
    </div>

      <div class="container" id="startchange">
        <br><br>
        
        <div class="row right">
        <h1 class="header white-text" >Web Developer</h1>
         <h5 class="header light white-text">Specializing in Javascript, Python, and Ruby</h5>
         <div class="row center">
         <a class="modal-trigger waves-effect waves-light btn teal accent-4" href="#modal1">Resume</a>
         </div>
        </div>
  
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <object data="static/images/Luis_Salazar_Resume.pdf" type="application/pdf" style="overflow: scroll; width: inherit; height: 100%;"></object>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              <a href="static/images/Luis_Salazar_Resume.pdf" download="Luis_Salazar_Resume.pdf" class="modal-action modal-close waves-effect waves-green btn-flat">Download</a>
            </div>
          </div>
       
        <br><br>

      </div>
   
    <div class="parallax"><img src="static/images/background.jpg" alt="Unsplashed background img 1"></div>
  </div>
</header>

  <!-- About Me -->
    <div id="about_me" class="container section">
      <div class="row">
        <div class=" col s12 m12 center">
          <h2 class="light" style="text-align: left; margin-bottom: 0px;">About Luis</h2>
          
           <!-- Profile Picture -->
            <img style="width: 24%;" src="static/images/luis_copy.jpg" class="circle respnsive-img z-depth-5 respnsive-img">
            <p class="light"> Personal trainer turned web developer!</p>
         
            <p class="light">The hardships of being a small business owner has led me to discover my passion for coding and web development. Building applications from database to front-end design has given me another avenue to challenge myself and exceed the boundaries of what I am capable of. It is this pursuit for knowledge that pushes me to continuously evolve, learn, and grow as a self sufficient web developer.</p>
       </div>

    </div>
  </div>

  <!-- Skills Section -->
    <div id="skills" class="container section" style="padding-top: 0;">
      <div class="section" style="padding-top: 45px;">
        <div class="col s12 m4">
            <div class="row">
              <h2 class="light">Skills</h2>
              <h6 class=" light">These are some of the technologies that I'm familiar with.</h6>
            </div>
            <div class="row">
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="HTML5, CSS3, JavaScript" src="static/images/html5.png" style="width: 90%; height: auto;" alt="HTML5, CSS3, Javascript">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="AngularJS" src="static/images/angularjs.png" style="width: 90%; height: auto;" alt="Angular">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MongoDB" src="static/images/mongodb.png" style="width: 90%; height: auto;" alt="MongoDB">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Node.js" src="static/images/nodejs.png" style="width: 90%; height: auto;" alt="Node.js">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="npm" src="static/images/npm.png" style="width: 90%; height: auto;" alt="npm">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="SQLite" src="static/images/sqlite.png" style="width: 90%; height: auto;" alt="SQLite">
              </div>
            </div>

            <div class="row">
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Django" src="static/images/django.png" style="width: 90%; height: auto;" alt="django">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Flask" src="static/images/flask.png" style="width: 90%; height: auto;" alt="Flask">
              </div>
              
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Python" src="static/images/python.png" style="width: 90%; height: auto;" alt="Python">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MySQL" src="static/images/mysql.png" style="width: 90%; height: auto;" alt="mySQL">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Rails" src="static/images/rails.png" style="width: 90%; height: auto;" alt="Rails">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ruby" src="static/images/ruby.png" style="width: 90%; height: auto;" alt="Ruby">
              </div>
            </div>

            <div class="row">
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="PostgreSQL" src="static/images/postgres.png" style="width: 90%; height: auto;" alt="PostgreSQL">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Github" src="static/images/githubskill.png" style="width: 90%; height: auto;" alt="Github">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Terminal" src="static/images/terminal.png" style="width: 90%; height: auto;" alt="Terminal">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MAMP" src="static/images/mamp.png" style="width: 90%; height: auto;" alt="Mamp">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vagrant" src="static/images/vagrant.png" style="width: 90%; height: auto;" alt="Vagrant">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="AWS" src="static/images/aws.png" style="width: 90%; height: auto;" alt="AWS">
              </div>
            </div>

            <div class="row">
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sublime Text Editer" src="static/images/sublime.png" style="width: 90%; height: auto;" alt="Sublime">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bower" src="static/images/bower2.png" style="width: 90%; height: auto;" alt="Bower">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Materialize" src="static/images/materialize.png" style="width: 90%; height: auto;" alt="Materialize">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JQuery" src="static/images/jquery.png" style="width: 90%; height: auto;" alt="JQuery">
              </div>
              <div class="col 12 m2 s6">
                <img class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JSON" src="static/images/json.png" style="width: 90%; height: auto;" alt="JSON">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

    <!-- Mid Parallax -->
  <div class="parallax-container">
    <div class="parallax"><img src="static/images/code.jpg"></div>
  </div>

  <!-- Project Sections -->
  <div id="projects" class="container section">
    <div class="section">
      <div class="col s12 m4">

        <div class="row" >
              <h2 class="light">Projects</h2>
              <h6 class=" light">Check out some of the projects I've done!</h6>
        </div>
        <div class="row">
          <!-- Mainstage blog -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/mainstage1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/mainstage2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/mainstage3.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-position: initial;" src="static/images/mainstage4.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-position: initial;"  src="static/images/mainstage5.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Mainstage Blog<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/Mainstage_blog">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Mainstage Blog<i class="material-icons right">close</i></span>
                <p>Simple Blog built with Ruby on Rails.
                    After a user registers or logs in, they are taken to the blog dashboard where they can leave comments on the blog they are viewing.</p>
              </div>
            </div>
          </div>

           <!-- exp -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/exp3.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">exp {Explore. Experience}<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/exp_project">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">exp.<i class="material-icons right">close</i></span>
                <p>Built with JavaScript (MongoDB,Express,AngularJS,Node.js).
                    A local event finder application. After a user has logged in or registered they are taken to a dashboard where multiple events are displayed, the user has the option to join or go to the create page to construct an event of their own. (Google Maps API integration) </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Professional Networking -->
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional3.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/professional4.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Professional Networking (Under Construction)<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/Professional_Networking">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Professional Networking (Under Contruction)<i class="material-icons right">close</i></span>
                <p>Social media application allowing users to connect with other users. Built with Ruby on Rails.
                    Similar to Linkedin, after creating a profile, a user may view other user's profile and choose to add them to their network. Any user that has requested to join your network will appear on your invitations table, you then have to option to accept or ignore it.(RESTful architecture utilized. Rails ActiveRecord applied for front-end queary logic. PostgreSQL used for database.) </p>
              </div>
            </div>
          </div>
          <!-- QuickBuy -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="slider">
                  <ul class="slides" style="background-color: white;">
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/quickbuy1.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/quickbuy2.png"> 
                    </li>
                    <li>
                      <img class="activator" style="background-repeat: no-repeat; width: 100%; background-size: 100%; background-position: 50% 50%;" src="static/images/quickbuy4.png"> 
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">QuickBuy (Under Construction)<i class="material-icons right">more_vert</i></span>
                <p><a href="https://github.com/salazarlg24/Mini_Store">View on Github</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">QuickBuy (Under Construction)<i class="material-icons right">close</i></span>
                <p>Built with Javascript (MongoDB,Express,AngularJS,Node.js).
                    An online market for users to browse, add, and buy products.</p>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <!-- Bottom Paralax -->
  <div class="parallax-container">
    <div class="parallax"><img src="static/images/network.jpg"></div>
  </div>

  <!-- Connect -->
  <footer id="connect" class="z-depth-1 center" style="background-color: #333">
    <div class="container">
      
      <div class="row" style="margin-bottom: 0px;">
        <div class="col s12 m4" style="position: relative; top: 62px;">
          <p class="light white-text"><i>"Do not pray for an easy life, pray for the strength to endure a difficult one"</i></p>
          <p class="light teal-text text-accent-4"><i>Bruce Lee</i></p>
        </div>
        <div class="col s12 m4">
           <h3 class="light brand-logo teal-text text-accent-4">Connect</h3>
          <p>
          <!-- LinkedIN -->
            <a class="waves-effect waves-light btn-floating social linkedin" target="_blank" href="https://www.linkedin.com/in/luis-g-salazar/">
            <i class="fa fa-linkedin"></i></a>

            <!-- Github -->
             <a class="waves-effect waves-light btn-floating social github" target="_blank" href="https://github.com/salazarlg24">
          <i style="font-size: 38px;" class="fa fa-github"></i></a>

            <!-- Gmail -->
            <a class="waves-effect waves-light btn-floating social google tooltipped" data-position="bottom" data-delay="50" data-tooltip="salazarlg24@gmail.com" href="mailto:salazarlg24@gmail.com">
            <i class="fa fa-google"></i></a>
          </p>
        </div>
        <div class="col s12 m4">
          <img src="static/images/bruce_lee.png" style="width: 90%; height: auto; position: relative; top: 62px;">
        </div>
      </div>

      <a class="back-to-top btn-floating btn-large waves-effect waves-light blue-grey darken-1" href="#home"><i class="material-icons">keyboard_arrow_up</i></a>

    </div>
  </footer>



